<section id="service" class="service-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>Applications</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {{#each drivers}}
                <div class="col-md-12 col-sm-12">
                    <div class="single-service wow fadeInUp" data-wow-delay="0.2s">
                        <i class="fa"><img src="assets/images/user.png"></i>
                        <h2>{{name}}</h2>
                        <p><b>Email:</b> <a href="#{{email}}"> {{email}}</a></p>
                        <p><b>Phone:</b> <a href="#{{number}}"> {{number}}</a></p>
                        <p><b>Date of Birth:</b> {{age}}</p>
                        <p><b>SSN:</b> {{ssn}}</p>
                        <p><b>Experience:</b> {{clientDrivingExperience}}</p>
                        <p><b>License Type:</b> {{typeOfLicense}}</p>
                        <p><b>License Number:</b> {{clientLicenseNumber}}</p>
                        <img src="{{licenseImage}}" width="100px" height="100px">
                        <p><b>Legal Document:</b> {{legalDocument}}</p>
                        <p><b>Address:</b> {{address}}</p>
                        <small style="color: royalblue;">{{getLastMinute date}}</small>
                    </div>
                </div>
                <hr>
                {{else}}
                <p>No application received</p>
            {{/each}}
            </div>
        </div>
    </section>